{% extends "LAYOUT.html" %}
{% block body %}

<main>
    <div class="jumbotron" style="background-image: url('images/jet.jpg');">
        <div class="flexalign">
            <div class="intro">
                <h1 style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 
                -1px 1px 0 #000, 1px 1px 0 #000;">About Us</h1>
                <h2 style="color: white; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 
                -1px 1px 0 #000, 1px 1px 0 #000;">
                    Here are a couple of sentences about us. Here are a couple of sentences about us.
                    Here are a couple of sentences about us. Here are a couple of sentences about us.
                </h2>
                <button class="learnmore" type="button" onclick="location.href='/'">Back home</button>
                <button class="getstarted" type="button" onclick="location.href='/signup'">Get started</button>
            </div>

        </div>
    </div>
</main>

<hr>
<div class="testimonials" style="background-color: white;">
    <h1>Content for About Us Page</h1>
    <h4 style="float: left;">
    The earliest recognized joint-stock company in modern times was the English (later British) East India Company, 
    one of the most notorious joint-stock companies. It was granted an English Royal Charter by Elizabeth I on December 
    31, 1600, with the intention of favouring trade privileges in India. The Royal Charter effectively gave the newly 
    created Honourable East India Company (HEIC) a 15-year monopoly on all trade in the East Indies. The company 
    transformed from a commercial trading venture to one that virtually ruled India as it acquired auxiliary governmental 
    and military functions, until its dissolution.</h4>
    <h4 style="float: left;">
    Soon afterwards, in 1602, the Dutch East India Company issued the first shares that were made tradeable on the 
    Amsterdam Stock Exchange, an invention that enhanced the ability of joint-stock companies to attract capital 
    from investors as they now easily could dispose of their shares. The Dutch East India Company became the first 
    multinational corporation and the first megacorporation. Between 1602 and 1796 it traded 2.5 million tons of cargo 
    with Asia on 4,785 ships and sent a million Europeans to work in Asia, surpassing all other rivals.</h4>
    <h4 style="float: left;">
    The innovation of joint ownership made a great deal of Europe's economic growth possible following the Middle Ages. 
    The technique of pooling capital to finance the building of ships, for example, made the Netherlands a maritime 
    superpower. Before the adoption of the joint-stock corporation, an expensive venture such as the building of a 
    merchant ship could be undertaken only by governments or by very wealthy individuals or families.</h4>
    <h4 style="float: left;">
    Economic historians find the Dutch stock market of the 17th century particularly interesting: there is clear 
    documentation of the use of stock futures, stock options, short selling, the use of credit to purchase shares, 
    a speculative bubble that crashed in 1695, and a change in fashion that unfolded and reverted in time with the market 
    (in this case it was headdresses instead of hemlines). Edward Stringham also noted that the uses of practices such 
    as short selling continued to occur during this time despite the government passing laws against it. This is unusual 
    because it shows individual parties fulfilling contracts that were not legally enforceable and where the parties 
    involved could incur a loss. Stringham argues that this shows that contracts can be created and enforced without state 
    sanction or, in this case, in spite of laws to the contrary.</h4>
    <br>
</div>

<hr>

{% endblock %}