{% extends "LAYOUT.html" %}
{% block body %}

<main>
    <div class="jumbotron" style="background-image: url('images/interior.jpg');">
        <div class="flexalign">
            <div class="intro">
                <h1 style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 
                -1px 1px 0 #000, 1px 1px 0 #000;">Contact Us</h1>
                <h2 style="color: white; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 
                -1px 1px 0 #000, 1px 1px 0 #000;">
                    Here is how you can contact us. We don't actually have any contact information, but 
                    this page is necessary because otherwise there would be one fewer page.
                </h2>
                <button class="learnmore" type="button" onclick="location.href='/'">Back home</button>
                <button class="getstarted" type="button" onclick="location.href='/signup'">Get started</button>
            </div>

        </div>
    </div>
</main>

<hr>
<div class="testimonials" style="background-color: white;">
    <h1>Content for Contact Us Page</h1>
    <h4 style="float: left;">
    The owners of a private company may want additional capital to invest in new projects within the company. 
    They may also simply wish to reduce their holding, freeing up capital for their own private use. They can achieve 
    these goals by selling shares in the company to the general public, through a sale on a stock exchange. This process 
    is called an initial public offering, or IPO.</h4>
    <h4 style="float: left;">
    By selling shares they can sell part or all of the company to many part-owners. The purchase of one share entitles 
    the owner of that share to literally share in the ownership of the company, a fraction of the decision-making power, 
    and potentially a fraction of the profits, which the company may issue as dividends. The owner may also inherit debt 
    and even litigation.</h4>
    <h4 style="float: left;">
    In the common case of a publicly traded corporation, where there may be thousands of shareholders, it is impractical 
    to have all of them making the daily decisions required to run a company. Thus, the shareholders will use their shares 
    as votes in the election of members of the board of directors of the company.</h4>
    <h4 style="float: left;">
    In a typical case, each share constitutes one vote. Corporations may, however, issue different classes of shares, which 
    may have different voting rights. Owning the majority of the shares allows other shareholders to be out-voted – 
    effective control rests with the majority shareholder (or shareholders acting in concert). In this way the original 
    owners of the company often still have control of the company.</h4>
    <br>
</div>

<hr>

{% endblock %}