{% extends "LAYOUT.html" %}
{% block body %}

<main>
    <div class="jumbotron">
        <div class="flexalign">
            <div class="intro">
                <h1 style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 
                -1px 1px 0 #000, 1px 1px 0 #000;">Buy and Sell Stocks.</h1>
                <h2 style="color: lightgray; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 
                -1px 1px 0 #000, 1px 1px 0 #000;">Built in under a week, using HTML, CSS, Node, and Express.</h2>
                <button class="learnmore" type="button" onclick="location.href='#skiphere'">Learn more</button>
                <button class="getstarted" type="button" onclick="location.href='/signup'">Get started</button>
            </div>

            <form action="/portfolio" method="post" style="float:right" class="loginmodal" autocomplete="off">
                <div class="modalhead">
                    Sign in to C$50Finance
                </div>

                <div class="container">
                    <label class="modaltxt" for="uname">Username</label>
                    <input type="text" placeholder="Enter Username" name="uname" required>

                    <label class="modaltxt" for="pword">Password</label>
                    <input type="password" placeholder="Enter Password" name="pword" required>

                    <div style="text-align: center;">
                        <button class="next">Next</button>
                        <button type="button" class="create" onclick="location.href='/signup'">Create an account</button>
                    </div>
                </div>

                <div class="container">
                    <label class="modaltxtlower">
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                    <span class="modaltxtlower" style="float:right"><a href="/forgot">Forgot password?</a></span>
                </div>
            </form>
        </div>
    </div>
</main>

<div class="sponsors" id="skiphere">
    <h1>Our Sponsors</h1>
    <ul>
        <li id="sponsornames">Harvard</li>
        <li id="sponsornames">Yale</li>
        <li id="sponsornames">Princeton</li>
        <li id="sponsornames">Stanford</li>
        <li id="sponsornames">MIT</li>
        <li id="sponsornames">Vanderbilt</li>
    </ul>
</div>

<div class="carousel">
    <div class="carouselitem">
        <img src="images/gold.jpg" style="object-fit: cover;" class="carouselimg">
        <h1>Quote Stocks!</h1>
        <h3>
            Find out the most current stock prices, and see your wealth rise before 
            your eyes! Get the most recent information to make the best decisions!
        </h3>
    </div>

    <div class="carouselitem">
        <img src="images/cash.jpg" style="object-fit: cover;" class="carouselimg">
        <h1>Buy Stocks!</h1>
        <h3>
            Add stocks to your portfolio! Pick any stock under the sun and see it 
            rise before your eyes! Make money in your free time and become a millionaire!
        </h3>
    </div>

    <div class="carouselitem">
        <img src="images/coins.jpg" style="object-fit: cover;" class="carouselimg">
        <h1>Sell Stocks!</h1>
        <h3>
            Lock in your gains! Sell your stocks when the price is right! Become 
            richer than all your friends and buy your dream house!
        </h3>
    </div>
</div>

<div class="testimonials">
    <h1>User Testimonials</h1>
    <div class="revwbuttons">
        <button class="revbutton">←</button>
        <div class="userreview">
            <img src="images/malan.jpg">
            <div class="reviewtxt">
                <h2>David Malan</h2>
                <h3>
                    "I daresay three principles guide my teaching:  accessibility, rigor, and community. 
                    These are particularly manifest in CS50, given its size, but they also characterize 
                    my teaching at DCE, HBS, and beyond."
                </h3>
                <h5>-- New Haven, CT</h5>
            </div>
        </div>
        <button class="revbutton">→</button>
    </div>
</div>

<div class="section">
    <div class="info">
        <h1>What are the benefits?</h1>
        <h3>
            Stocks offer investors the greatest potential for growth (capital appreciation) over the long haul. 
            Investors willing to stick with stocks over long periods of time, say 15 years, generally have been 
            rewarded with strong, positive returns. But stock prices move down as well as up. There’s no guarantee 
            that the company whose stock you hold will grow and do well, so you can lose money you invest in stocks.
        </h3>
    </div>
    <img src="images/nyse.jpg" class="sectionimg">
</div>

<hr>

<div class="section">
    <img src="images/chart.jpg" class="sectionimg">
    <div class="info">
        <h1>What are the risks?</h1>
        <h3>
            If a company goes bankrupt and its assets are liquidated, common stockholders are the last in line to 
            share in the proceeds. The company’s bondholders will be paid first, then holders of preferred stock. 
            If you are a common stockholder, you get whatever is left, which may be nothing. Even when companies 
            aren’t in danger of failing, their stock price may fluctuate up or down. Large company stocks as a group, 
            for example, have lost money on average about one out of every three years.
        </h3>
    </div>
</div>

<hr>

<div class="section">
    <div class="info">
        <h1>How to buy and sell stocks</h1>
        <h3>
            You can buy and sell stocks through: a direct stock plan, a dividend reinvestment plan, a discount or 
            full-service broker, or a stock fund. Buying and selling stocks entails fees. A direct stock plan or a 
            dividend reinvestment plan may charge you a fee for that service. Brokers who buy and sell stocks for 
            you charge a commission. A discount brokerage charges lower commissions than what you would pay at a 
            full-service brokerage.
        </h3>
    </div>
    <img src="images/wallstreet.jpg" class="sectionimg">
</div>

<br><br><br>

{% endblock %}