{% extends "LAYOUT2.html" %}
{% block body %}

<div class="history">
    <div class="modalhead">
        My Stocks
    </div>

    <div class="container">
        <table style="table-layout: fixed; width: 95%;">
            <thead>
                <th style="text-decoration: underline;">Symbol</th>
                <th style="text-decoration: underline;">Name</th>
                <th style="text-decoration: underline;">Shares</th>
                <th style="text-decoration: underline;">Price</th>
                <th style="text-decoration: underline;">TOTAL</th>
            </thead>
            <tbody>
                {% for stocks in newstocksarray %}
                <tr>
                    <td style="text-align: center; padding-top:20px; padding-bottom: 20px;">{{stocks.symbol}}</td>
                    <td style="text-align: center;">{{stocks.companyName}}</td>
                    <td style="text-align: center;">{{stocks.currentShares}}</td>
                    <td style="text-align: center;">${{stocks.currentPrice.toFixed(2)}}</td>
                    <td style="text-align: center;">${{stocks.currentTotal.toFixed(2)}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td style="text-align: center; padding-top:20px; padding-bottom: 20px;">CASH</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: center;">${{totalCash.toFixed(2)}}</td>
                </tr>
            </tbody>
        </table>

        <h3>Total Value: ${{totalMoney.toFixed(2)}}</h3>

        <div style="text-align: center;">
            <button type="button" class="quote" onclick="location.href='/dashboard'">OK</button>
        </div>
    </div>

</div>

{% endblock %}