{% extends "LAYOUT.html" %}
{% block body %}

<main>
    <div class="jumbotron" style="background-image: url('images/yacht.jpg');">
        <div class="flexalign">
            <div class="intro">
                <h1 style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 
                -1px 1px 0 #000, 1px 1px 0 #000;">Pricing</h1>
                <h2 style="color: white; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 
                -1px 1px 0 #000, 1px 1px 0 #000;">
                    Here is how we price things. Everything is free. You're welcome. On second 
                    thought, you owe us after all. We will send someone to collect our money soon.
                </h2>
                <button class="learnmore" type="button" onclick="location.href='/'">Back home</button>
                <button class="getstarted" type="button" onclick="location.href='/signup'">Get started</button>
            </div>

        </div>
    </div>
</main>

<hr>
<div class="testimonials" style="background-color: white;">
    <h1>Content for Pricing Page</h1>
    <h4 style="float: left;">
    A person who owns a percentage of the stock has the ownership of the corporation proportional to his share. 
    The shares form stock. The stock of a corporation is partitioned into shares, the total of which are stated at 
    the time of business formation. Additional shares may subsequently be authorized by the existing shareholders 
    and issued by the company. In some jurisdictions, each share of stock has a certain declared par value, which 
    is a nominal accounting value used to represent the equity on the balance sheet of the corporation. In other 
    jurisdictions, however, shares of stock may be issued without associated par value.</h4>
    <h4 style="float: left;">
    Shares represent a fraction of ownership in a business. A business may declare different types (or classes) of shares, 
    each having distinctive ownership rules, privileges, or share values. Ownership of shares may be documented by issuance 
    of a stock certificate. A stock certificate is a legal document that specifies the number of shares owned by the 
    shareholder, and other specifics of the shares, such as the par value, if any, or the class of the shares.</h4>
    <h4 style="float: left;">
    In the United Kingdom, Republic of Ireland, South Africa, and Australia, stock can also refer to completely different 
    financial instruments such as government bonds or, less commonly, to all kinds of marketable securities.</h4>
    <br>
</div>

<hr>

{% endblock %}